<h1 class="form-title">Create Folder</h1>
<form action="/create-folder" method="POST" class="create-folder-form">
    <input type="text" name="name" placeholder="Folder Name" required class="folder-input">
    <button type="submit" class="submit-button">Create Folder</button>
</form>